
.no-transactions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #101010;
}

.main-section {
    background-color: #101010;
}

h1 {
    text-align: center;
}
.coin-section {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(240, 241, 242);

}

.coin-info {
    background-color: red;
    display: flex;
}