<% layout('layouts/boilerplate') %>


    <canvas>

    </canvas>

    <h1>Holdings</h1>

   
    <% if(!getUser.transactions.length)  { %>

<div> NOTHING TO SHOW </div>

  <%  } else { %>
    <% for(let i = 0; i < getUser.transactions.length; i++)  {%>
        <div> <%= getUser.transactions[i].coinName %></div>

    <%}%>
<%}%>
    <script src="javascript/api.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>



</body>

</html>

