<% layout('layouts/boilerplate')%>

    <form action="/coins/<%=coin._id%>?_method=PUT" method="POST">
        <div>
            <label for="coinName">Coin Name</label>
            <input type="text" id="coinName" name="coin[coinName]" value="<%= coin.coinName %>">
        </div>

        <div>
            <label for="coinPurchasePrice">Purhcase Price</label>
            <input type="text" id="coinPurchasePrice" name="coin[coinPurchasePrice]"
                value="<%= coin.coinPurchasePrice %>">
        </div>
        <div>
            <label for="purchaseAmount"> Purchase Amount</label>
            <input type="text" id="purchaseAmount" name="coin[purchaseAmount]" value="<%= coin.purchaseAmount %>">
        </div>

        <button>EDIT</button>
    </form>
    <a href="/coins/">HOME</a>

    </body>

    </html>