<% layout('layouts/boilerplate')%>

    <form action="/coins" method="POST">
        <div>
            <label for="coinName">Coin Name</label>
            <input type="text" id="coinName" name="coin[coinName]">
        </div>

        <div>
            <label for="coinPurchasePrice">Purhcase Price</label>
            <input type="text" id="coinPurchasePrice" name="coin[coinPurchasePrice]">
        </div>
        <div>
            <label for="purchaseAmount"> Purchase Amount</label>
            <input type="text" id="purchaseAmount" name="coin[purchaseAmount]">
        </div>

        <button>Add Coin</button>
    </form>
    <a href="/coins">HOME</a>

    </body>

    </html>